In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
# from skearn import datasets
from sklearn.metrics import accuracy_score

In [59]:
# importing the classifer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
import os 
# os.getcwd()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [53]:
os.getcwd()

'/content'

**Attrition Rate - Machine Learning**




*   This project give us insight into give data for employee or staff turnover.
*   Attrition rate is a calculation of the number of individuals or items that vacate or move out of a larger, collective group that can be an organization, over a specified time frame.

*   A term ofen used by human resources professionals to determine a company's ability to retain empoyees.

In [5]:
attrdata = pd.read_csv("drive/MyDrive/DataScienceProject/AttritionRate/Table_1.csv")

In [6]:
attrdata.head()

   table id name  phone number  ... Promoted/Non Promoted Job Role Match Stay/Left
0         1  sid    9876544345  ...          Non Promoted            Yes      Left
1         2  sid    9876544345  ...              Promoted             No      Stay
2         3  sid    9876544345  ...              Promoted            Yes      Stay
3         4  sid    9876544345  ...              Promoted            Yes      Stay
4         5  sid    9876544345  ...          Non Promoted            Yes      Stay

[5 rows x 16 columns]

**Emp.Group** is a  Categorical data where employee are divided into 7 Category which is ranging from B1 to B7 

**Funcation** is different department of the company

In [7]:
# Exploratory Data Analysis (EDA)
# Here we are dropping the zero column table_id as we do not need it 
attrdata.drop(["table id"], axis=1 ,inplace=True)
attrdata.head()

  name  phone number   Location  ... Promoted/Non Promoted Job Role Match Stay/Left
0  sid    9876544345       Pune  ...          Non Promoted            Yes      Left
1  sid    9876544345      Noida  ...              Promoted             No      Stay
2  sid    9876544345  Bangalore  ...              Promoted            Yes      Stay
3  sid    9876544345      Noida  ...              Promoted            Yes      Stay
4  sid    9876544345    Lucknow  ...          Non Promoted            Yes      Stay

[5 rows x 15 columns]

In [8]:
# gives number of null value in each column 
attrdata.isnull().sum()

name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       4
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           2
Stay/Left                0
dtype: int64

In [9]:
# since the null value is less we are going to drop it 
# here axis zero defines to go raw by raw and remove it if there is null value 
attrdata.dropna(axis=0, inplace=True)
# rechecking for null value
attrdata.isnull().sum()

name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       0
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           0
Stay/Left                0
dtype: int64

In [10]:
# define number of raws and column 
attrdata.shape

(896, 15)

In [11]:
gender_dict = attrdata['Gender '].value_counts()
gender_dict

Male      656
Female    234
other       6
Name: Gender , dtype: int64

In [12]:
promoted_dict = attrdata["Promoted/Non Promoted"].value_counts()
promoted_dict

Promoted        457
Non Promoted    439
Name: Promoted/Non Promoted, dtype: int64

In [13]:
func_dict = attrdata["Function"].value_counts()
func_dict

Operation    832
Support       52
Sales         12
Name: Function, dtype: int64

In [14]:
Hireing_dict = attrdata["Hiring Source"].value_counts()
Hireing_dict

Direct               709
Agency               116
Employee Referral     71
Name: Hiring Source, dtype: int64

In [15]:
Marital_dict = attrdata["Marital Status"].value_counts()
Marital_dict

Single    534
Marr.     356
Div.        2
NTBD        2
Sep.        2
Name: Marital Status, dtype: int64

In [16]:
Emp_dict = attrdata["Emp. Group"].value_counts()
Emp_dict

B1    537
B2    276
B3     59
B0      8
B4      7
B5      4
B7      2
B6      1
C3      1
D2      1
Name: Emp. Group, dtype: int64

In [17]:
job_dict = attrdata["Job Role Match"].value_counts()
job_dict

Yes    481
No     415
Name: Job Role Match, dtype: int64

In [18]:
tenure_dict = attrdata["Tenure Grp."].value_counts()
tenure_dict

> 1 & < =3    626
< =1          270
Name: Tenure Grp., dtype: int64

In [19]:
location_dict = attrdata["Location"].value_counts()
location_dict

Chennai       255
Noida         236
Bangalore     210
Hyderabad      62
Pune           56
Madurai        29
Lucknow        20
Nagpur         14
Vijayawada      6
Mumbai          4
Gurgaon         3
Kolkata         1
Name: Location, dtype: int64

In [20]:
# create a dictionary to tranform location name to number 
# feature engineering 
location_dict_new = {
    'Chennai': 7,
    'Noida': 6,
    'Bangalore': 5,
    'Hyderabad': 4,
    'Pune': 3,
    'Madurai': 2,
    'Lucknow': 1,
    'Other place': 0,
}
print(location_dict_new)

{'Chennai': 7, 'Noida': 6, 'Bangalore': 5, 'Hyderabad': 4, 'Pune': 3, 'Madurai': 2, 'Lucknow': 1, 'Other place': 0}

In [21]:
# replace all the string with numbers 
def location(x):
  if str(x) in location_dict_new.keys():
    return location_dict_new[str(x)]
  else:
    return location_dict_new['Other place']

data_1 = attrdata["Location"].apply(location)
attrdata['New Location'] = data_1
attrdata.head()

  name  phone number   Location  ... Job Role Match Stay/Left New Location
0  sid    9876544345       Pune  ...            Yes      Left            3
1  sid    9876544345      Noida  ...             No      Stay            6
2  sid    9876544345  Bangalore  ...            Yes      Stay            5
3  sid    9876544345      Noida  ...            Yes      Stay            6
4  sid    9876544345    Lucknow  ...            Yes      Stay            1

[5 rows x 16 columns]

In [22]:
# Note that above we have created new column as "New Location"  and the old column "Location" still exist

In [23]:
# get_dummies function convert the catigorycal data to binary(0,1) 
# hence increasing the number of column 
# this identify the feature is either true or false 
gen  = pd.get_dummies(attrdata['Function'])
gen.head()

   Operation  Sales  Support
0          1      0        0
1          0      0        1
2          1      0        0
3          1      0        0
4          1      0        0

In [24]:
hr = pd.get_dummies(attrdata['Hiring Source'])
hr.head()

   Agency  Direct  Employee Referral
0       0       1                  0
1       0       1                  0
2       0       1                  0
3       0       1                  0
4       0       1                  0

In [25]:
# we know the value counts of Marital Status
Marital_dict

Single    534
Marr.     356
Div.        2
NTBD        2
Sep.        2
Name: Marital Status, dtype: int64

In [26]:
# for Marital Status we have [Single, Marr, Div, NTBD,  Sep ]
# convert it to [Single, Marr, other status ]

def Mar(x):
  if str(x) in Marital_dict.keys() and Marital_dict[str(x)] > 100:
    return str(x)
  else:
    return 'other status'

data_1 = attrdata["Marital Status"].apply(Mar)
attrdata['New Marital'] = data_1
attrdata.head()

  name  phone number   Location  ... Stay/Left New Location New Marital
0  sid    9876544345       Pune  ...      Left            3      Single
1  sid    9876544345      Noida  ...      Stay            6       Marr.
2  sid    9876544345  Bangalore  ...      Stay            5       Marr.
3  sid    9876544345      Noida  ...      Stay            6       Marr.
4  sid    9876544345    Lucknow  ...      Stay            1       Marr.

[5 rows x 17 columns]

In [27]:
New_Marital_dict = attrdata["New Marital"].value_counts()
New_Marital_dict

Single          534
Marr.           356
other status      6
Name: New Marital, dtype: int64

In [28]:
# get_dummies function convert the catigorycal data to binary(0,1) 
# hence increasing the number of column 
# this identify the feature is either true or false 
Mr = pd.get_dummies(attrdata["New Marital"])
Mr.head()

   Marr.  Single  other status
0      0       1             0
1      1       0             0
2      1       0             0
3      1       0             0
4      1       0             0

In [29]:
# Promoted/Non Promoted feature column has string Non Promoted and Promoted
# this can be converted to binary (0, 1)

def Promoted(x):
  if x == 'Promoted':
    return int(1)
  else:
    return int(0)

#creating new series with the data column
data_1 = attrdata["Promoted/Non Promoted"].apply(Promoted)
# adding this new feature to the data
attrdata['New Promotion'] = data_1
attrdata.head()

  name  phone number   Location  ... New Location New Marital New Promotion
0  sid    9876544345       Pune  ...            3      Single             0
1  sid    9876544345      Noida  ...            6       Marr.             1
2  sid    9876544345  Bangalore  ...            5       Marr.             1
3  sid    9876544345      Noida  ...            6       Marr.             1
4  sid    9876544345    Lucknow  ...            1       Marr.             0

[5 rows x 18 columns]

In [30]:
# we know that Emp. Group have value count 
Emp_dict

B1    537
B2    276
B3     59
B0      8
B4      7
B5      4
B7      2
B6      1
C3      1
D2      1
Name: Emp. Group, dtype: int64

In [31]:
# adding other group 
Emp_dict['other group'] = 1
print(Emp_dict)

B1             537
B2             276
B3              59
B0               8
B4               7
B5               4
B7               2
B6               1
C3               1
D2               1
other group      1
Name: Emp. Group, dtype: int64

In [32]:
# we will compress all the group 
Emp_dict_new = {
    'B1':4,
    'B2':3,
    'B3':2,
    'other group':1,
}

def emp(x):
  if str(x) in Emp_dict_new.keys():
    return str(x)
  else:
    return 'other group'


data_1 = attrdata['Emp. Group'].apply(emp)
attrdata['New EMP'] = data_1

# now New EMP cloumn has  [B1, B2, B3, other group]
# get_dummies function convert the catigorycal data to binary(0,1)
# and we are storing it in variable emp

emp = pd.get_dummies(attrdata['New EMP'])
attrdata.head()

  name  phone number   Location  ... New Marital New Promotion      New EMP
0  sid    9876544345       Pune  ...      Single             0           B2
1  sid    9876544345      Noida  ...       Marr.             1  other group
2  sid    9876544345  Bangalore  ...       Marr.             1           B3
3  sid    9876544345      Noida  ...       Marr.             1           B2
4  sid    9876544345    Lucknow  ...       Marr.             0           B2

[5 rows x 19 columns]

In [33]:
# Job Role
job_dict

Yes    481
No     415
Name: Job Role Match, dtype: int64

In [34]:
def Job(x):
  if x == 'Yes':
    return int(1)
  else:
    return int(0)

data_1 = attrdata['Job Role Match'].apply(Job)
attrdata['New Job Role Match'] = data_1
attrdata.head()

  name  phone number   Location  ... New Promotion      New EMP New Job Role Match
0  sid    9876544345       Pune  ...             0           B2                  1
1  sid    9876544345      Noida  ...             1  other group                  0
2  sid    9876544345  Bangalore  ...             1           B3                  1
3  sid    9876544345      Noida  ...             1           B2                  1
4  sid    9876544345    Lucknow  ...             0           B2                  1

[5 rows x 20 columns]

In [35]:
# attrdata['Gender ']
gender_dict

Male      656
Female    234
other       6
Name: Gender , dtype: int64

In [36]:
gend = pd.get_dummies(attrdata['Gender '])
tengrp = pd.get_dummies(attrdata['Tenure Grp.'])

In [38]:
# axis=1 deine it column wise 
dataset = pd.concat([attrdata, hr, Mr, emp, tengrp, gen, gend], axis=1)

In [39]:
dataset.head()

  name  phone number   Location Emp. Group  ... Support Female  Male other
0  sid    9876544345       Pune         B2  ...       0      0     1     0
1  sid    9876544345      Noida         B7  ...       1      0     1     0
2  sid    9876544345  Bangalore         B3  ...       0      0     1     0
3  sid    9876544345      Noida         B2  ...       0      0     1     0
4  sid    9876544345    Lucknow         B2  ...       0      0     1     0

[5 rows x 38 columns]

In [40]:
dataset.shape

(896, 38)

In [41]:
dataset.columns

Index(['name', 'phone number', 'Location', 'Emp. Group', 'Function', 'Gender ',
       'Tenure', 'Tenure Grp.', 'Experience (YY.MM)', 'Marital Status',
       'Age in YY.', 'Hiring Source', 'Promoted/Non Promoted',
       'Job Role Match', 'Stay/Left', 'New Location', 'New Marital',
       'New Promotion', 'New EMP', 'New Job Role Match', 'Agency', 'Direct',
       'Employee Referral', 'Marr.', 'Single', 'other status', 'B1', 'B2',
       'B3', 'other group', '< =1', '> 1 & < =3', 'Operation', 'Sales',
       'Support', 'Female', 'Male', 'other'],
      dtype='object')

In [45]:
dataset.drop(["name","Marital Status", "Promoted/Non Promoted", "Function", "Emp. Group", "Job Role Match", "Location", 
              "Hiring Source", "Gender ", "Tenure", "New Marital", "New EMP"], axis=1, inplace=True)

In [47]:
dataset1 = dataset.drop(['Tenure Grp.', 'phone number'], axis =1)

In [48]:
dataset1.columns

Index(['Experience (YY.MM)', 'Age in YY.', 'Stay/Left', 'New Location',
       'New Promotion', 'New Job Role Match', 'Agency', 'Direct',
       'Employee Referral', 'Marr.', 'Single', 'other status', 'B1', 'B2',
       'B3', 'other group', '< =1', '> 1 & < =3', 'Operation', 'Sales',
       'Support', 'Female', 'Male', 'other'],
      dtype='object')

In [49]:
dataset1.head()

   Experience (YY.MM)  Age in YY. Stay/Left  ...  Female  Male  other
0                6.08       27.12      Left  ...       0     1      0
1               13.00       38.08      Stay  ...       0     1      0
2               16.05       36.04      Stay  ...       0     1      0
3                6.06       32.07      Stay  ...       0     1      0
4                7.00       32.05      Stay  ...       0     1      0

[5 rows x 24 columns]

In [51]:
# save the dataset

In [52]:
dataset1.to_csv("drive/MyDrive/DataScienceProject/AttritionRate/processed table.csv")

In [54]:
dataset = pd.read_csv("drive/MyDrive/DataScienceProject/AttritionRate/processed table.csv")
#
dataset = pd.DataFrame(dataset)
#
y = dataset["Stay/Left"]
X = dataset.drop("Stay/Left", axis=1)

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [57]:
#

In [58]:
# let check the performance of all 
lr  = LogisticRegression(C = 0.1, random_state= 42, solver='liblinear') # applying hyperparameter
dt  = DecisionTreeClassifier()
rm  = RandomForestClassifier()
gnb = GaussianNB()
# knn = sklearn.svm.SVC
#supvm = sklearn.neighbors.KNeighborsClassifier

In [61]:
for a, b in zip([lr, dt, rm, gnb], ["Logistic Regression", "Decision Tree", "Random Forest", "Naive Bayes"]):
  a.fit(X_train, y_train)

  # prediction with training data  
  prediction = a.predict(X_train)
  # prediction with text data 
  y_pred=a.predict(X_test)

  # checking accuracy with actual result for prediction on y_train for X_train data  
  score1 = accuracy_score(y_train,prediction)
  # checking accuracy with actual result for prediction on y_text for X_text data
  score = accuracy_score(y_test, y_pred)

  msg1 = "[%s] training data accuracy is : %f" % (b, score1)
  msg2 = "[%s] testing data accuracy is : %f" % (b, score)

  print(msg1)
  print(msg2)

[Logistic Regression] training data accuracy is : 0.891061
[Logistic Regression] testing data accuracy is : 0.855556
[Decision Tree] training data accuracy is : 1.000000
[Decision Tree] testing data accuracy is : 0.883333
[Random Forest] training data accuracy is : 1.000000
[Random Forest] testing data accuracy is : 0.861111
[Naive Bayes] training data accuracy is : 0.877095
[Naive Bayes] testing data accuracy is : 0.811111

In [62]:
# Standardization and Normalization are data preprocessing techniques whereas Regularization is used to improve model performance
# we can use Standardization or Regularization

In [63]:
model = lr.fit(X_train, y_train)

In [64]:
#

In [66]:
import pickle
# save the model to disk 
filename = 'drive/MyDrive/DataScienceProject/AttritionRate/finalized_model.pickle'
pickle.dump(model, open(filename, 'wb'))